body {
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}
h1 {
    text-align: left;
}
h2 {
    text-align: left;
}
div {
    margin-bottom: 10px;
}
form {
    width: 80%;
    margin: 0 auto;
}

label, input, select {
    display: inline-block;
}

label {
    width: 30%;
    text-align: right;
}

label + input + select {
    width: 30%;
    margin: 0 30% 0 4%;
}

input + input {
    float: right;
}
button {
    text-align: center;
}
select + select {
    float: right;
}
#private-subnet-internet-container {
    display: none;
}
.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}